body {
	font-family: "HelveticaNeue-Light", Helvetica, Arial, Sans-serif;
	background-color: white;
}

header {
	width: 100%;
	height: 60px;
	background-color: #ff606e;
	color: white;
	display: flex;
	padding: 10px 30px;
	text-decoration: none;
	margin-bottom: 40px;
}

header > * {
	margin: auto 0;
}

header #logo {
	margin-right: 50px;
	display: flex;
	font-size: 40px;
	font-family: "HelveticaNeue-Light";
	color: #253939;
}

header #user-links {
	flex: 1;
	-webkit-flex: 1;
	text-align: right;
}

header a {
	color: white;
	text-decoration: none;
}

a.button {
	display: inline-block;
	width: 80px;
	height: 25px;
	background-color: #517398;
	border-width: 1px;
	border-style: solid;
	border-color: white;
	color: white;
	text-decoration: none;
	padding: 0px 10px;
	text-align: center;
	border-radius: 2px;
	margin-left: 5px;
	margin-right: 5px;
	text-shadow: 0 0 2px rgba(0,0,0, 0.4);
}

a.button.highlighted {
  background-color: #262c3a;
}

