<form method="post" action="/sessions">
	Email: <input type="text" name='email'>
	Password: <input type="password" name='password'>
	<input type="submit" value="Sign in">
</form>


<!-- link to forgot password

<a href='/...''>Request password</a> -->